* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, orange, black);
  background-repeat: round;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.container {
  padding: 30px;
}

.nav-bar {
  padding: 4px;
  height: 28px;
  background-color: #eae9d9;
}

.nav-bar img {
  float: left;
  width: 150px;
  margin-top: -1px;
}

.nav-bar .menu {
  float: right;
}

.nav-bar h1 {
  float: left;
  font-size: 14px;
  margin-top: 2px;
  padding-right: 2px;
}

.nav-bar h1:nth-child(1), .nav-bar h1:nth-child(2) {
  margin-right: 64px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.line {
  float: left;
  width:100%;
  height:1px;
  background: #fff;
  margin: 20px 0 20px;
}

.line-bottom {
  float: left;
  width:100%;
  height:1px;
  background: #fff;
  margin: 0 0 20px;
}

.main-image img{
  float: left;
  width: 614px;
  margin: 20px 10px;
}

.used-images {
  margin-left: 30px;
  float: left;
  margin-top: 34px;
}
.used-images img{
  float: left;
  width: 331px;
  height: 227px;
  margin: 8px;
  border-radius: 4px;
}
h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 34px;
  position: absolute;
  left: 29px;
  top: 95px;
}

.description {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 78em;
}

.description p {
  text-align: justify;
}

.specs {
  float: left;
  width: 39%;
  margin: 23px 19px 0 80px;
}

table, th, td {
  text-align: justify;
}

th, td {
  font-size: 13px;
  border: 1px solid #fd8204;
  padding: 2px;
}

.photos {
  width: 50%;
  float: left;
  margin-left: 52px;
}

.photos img {
  object-fit: cover;
  width: 125px;
  height: 125px;
  float: left;
  margin: 3px 9px 18px;
}

.photos img:nth-child(5), .photos img:nth-child(9){
  clear: both;
}

.media {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 11em;
}

.media .icons {
  filter: invert(100%);
  width: 20px;
  height: auto;
  margin-right: 19px;
}
